:root {
  --font-family-primary: Roboto, sans-serif;
  --font-family-secondary: Raleway, sans-serif;
  --text-light-theme-primary-color: #212121;
  --text-light-theme-secondary-color: #757575;
  --text-dark-theme-primary-color: #ffffff;
  --text-footer-contact-color: rgba(255, 255, 255, 0.6);
  --background-primary-color: #ffffff;
  --background-secondary-color: #2f303a;
  --background-menu-color: #f5f4fa;
  --logo-accent-color: #2196f3;
  --logo-secondary-color: #000000;
}
/* ========== Зкидання налаштувань ======= */
body {
  font-family: var(--font-family-primary);
  color: var(--text-light-theme-primary-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--background-primary-color);
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
}

.link {
  text-decoration: none;
}
/* =========== /Зкидання налаштувань ======= */

/* =========== Студія-сторінка ============= */
.link.menu-link.current {
  color: var(--logo-accent-color);
}

.header-logo {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-secondary-color);
}

.header-logo-part {
  color: var(--logo-accent-color);
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--logo-accent-color);
}

.header-contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-light-theme-secondary-color);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--logo-accent-color);
}

.studio-open-modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--logo-accent-color);
  color: var(--text-dark-theme-primary-color);
  cursor: pointer;
}

.studio-open-modal-btn:hover,
.studio-open-modal-btn:focus {
  background-color: var(--text-dark-theme-primary-color);
  color: var(--logo-accent-color);
}

.studio-primary-container {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: var(--background-secondary-color);
}
.studio-primary-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-dark-theme-primary-color);
}

.studio-secondary-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.studio-advantage-headline {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.studio-advantage-text {
  line-height: 1.71;
  color: var(--text-light-theme-secondary-color);
}

.studio-team-names-headline {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.studio-team-positions-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-light-theme-secondary-color);
}

.footer-logo {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-dark-theme-primary-color);
}

.footer-logo-part {
  color: var(--logo-accent-color);
}

.footer-container {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2094px;
  background: var(--background-secondary-color);
}
.footer-contact-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--text-footer-contact-color);
}
.footer-contact-link-special-color {
  color: var(--text-dark-theme-primary-color);
}
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--logo-accent-color);
}
/* =========== /Студія-сторінка ============= */

/* ========== Портфоліо-сторінка =============*/
.portfolio-menu-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color: var(--background-menu-color);
  color: inherit;
  cursor: pointer;
}

.portfolio-menu-btn:hover,
.portfolio-menu-btn:focus {
  background-color: var(--logo-accent-color);
  color: var(--text-dark-theme-primary-color);
}

.portfolio-project-headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-project-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-light-theme-secondary-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
