:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --primary-text-color-theme-dark: #ffffff;
  --accent-color: #2196f3;
}
/* ========== Зкидання налаштувань ======= */
body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color-theme-light);
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
}

.link {
  text-decoration: none;
}
/* =========== /Зкидання налаштувань ======= */

/* =========== Студія-сторінка ============= */
.header-logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-logo-part {
  color: var(--accent-color);
}

.menu-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.header-contact-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

.studio-modal-open-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
}

.studio-main-container {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}
.studio-main-headline {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.studio-secondary-headline {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
}

.studio-second-section-headline {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}

.studio-second-section-text {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.studio-fourth-section-headline {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
}

.studio-fourth-section-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.footer-logo {
  font-family: var(--secondary-font-famaly);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

.footer-logo-part {
  color: var(--accent-color);
}

.footer-container {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2094px;
  background: #2f303a;
}
.footer-contact-link {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact-link-special-color {
  color: var(--primary-text-color-theme-dark);
}

/* =========== /Студія-сторінка ============= */

/* ========== Портфоліо-сторінка =============*/
.portfolio-menu-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: inherit;
  cursor: pointer;
}

.portfolio-menu-btn:hover,
.portfolio-menu-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}

.portfolio-main-headline {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
}

.portfolio-second-headline {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}
